

<nav class="navbar navbar-dark bg- fixed-top">
  <div class="container-fluid">
 <strong><a class="navbar-brand navbar-brand3" href="<%= root_path%>">Full Circle</a></strong>
 <ul class="nav1 navbar-nav2">
      <li class="active a2">
      <a  href="#">Explore</a>
      </li>
      <li class="active a2">
      <a  href="#">Businiess</a></li>
      <li class="active a2"><a  href="#">Connect</a></li>
      <li class="active a2"><a  href="#">Support</a></li>
    </ul>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Full Circle</h5>
      </div>
      
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%= new_creative_artist_path %>">BECOME A CREATIVE</a>
          </li>
           <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%=  login_path %>">SIGN IN</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="<%= about_path %>">ABOUT</a>
          </li>
      </div>
    </div>
  </div>
</nav>










    
