

<br>
<br>
<br>
<br>
<br>
<%= button_to "Logout", logout_path, method: :get, class: "btn btn-danger" %>
<h2>Welcome
  <%= current_user.username %></h2>

  
<p>Discover the creators you need to get to the next level</p>



<nav  class="navbar navbar-dark bg-dark fixed-top">


 <button class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
      aria-label="Toggle navigation"
    >
    
      <span class="navbar-toggler-icon"></span>
    </button>

 

<strong class="navbar-brand">Full Circle</strong>
  <%# <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button   class="btn" type="submit">Search</button></form> %>
      
<div class="searchb
">
  <input type="search" class="form-control rounded" placeholder="Find services" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btns btn-outline-primary ">search</button>
</div>
    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Full Circle</h5>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%= new_creative_artist_path %>">BECOME A CREATIVE</a>
          </li>
           <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Profile</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="#signup">SETTINGS</a>
          </li>
      </div>
    </div>
  </div>
</nav>

<br>
<br>
<br>


<br>
<br>
<br>
<br>
<br>
<br>
<br>

